.home{
  table{
    border-collapse: collapse;
    width: 100%;
  }
  tr{
    border-bottom: 1px solid #ddd;
    line-height: 2.5;
    td a{
      color: black;
      text-decoration: none;
      &:visited {
        color: gray;
      }
      &:hover{
        color: red;
      }
    }
    td{
      &:first-child{
        width: 60%;
      }
      width: 10%;
    }
  }
  tr:first-child{
    color: #867d7d;
    border-bottom: 3px solid #ddd;  
  }
  .create-button-container{
    text-align: right;
  }
}
